.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.canvas {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 640;
  height: 480;
  border: 5px solid #99ff00;
}

.canvas.wrong {
  border-color: #ff0000;
}

.canvas.neutral {
  border-color: #ffd637;
}

.canvas.unadvise {
  border-color: transparent;
}

.btns {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.btns button {
  outline: none;
  flex: 1;
  font-size: 18px;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #333;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.btns div {
  outline: none;
  flex: 1;
  font-size: 18px;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #333;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.btns button:first-child {
  border-left: none;
}
.btns div:first-child {
  border-left: none;
}
.btns div {
  color: #999;
  cursor: default;
}
.btns button.on {
  background-color: #fff;
  color: #333;
}

.box-comment {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #282c34;
  color: #fff;
}
